@{
    ViewBag.Title = "Conferma reimpostazione password";
}

<div class="pageTitle">
    <span>@ViewBag.Title</span>
</div>
<div>
    <p>
        Reimpostazione password completata. @Html.ActionLink("Fare clic qui per eseguire l'accesso", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
